[submodule "deps/asio"]
	path = deps/asio
	url = git@github.com:chriskohlhoff/asio.git
[submodule "deps/libcds"]
	path = deps/libcds
	url = git@github.com:khizmax/libcds.git
[submodule "deps/ck"]
	path = deps/ck
	url = git@github.com:concurrencykit/ck.git
